<span class="next">
  <%= link_to_unless current_page.last?, image_tag("arrow-right_minor.svg", class: "pagination-arrow #{'disabled-pagination-link' if current_page.last? }"), url, rel: 'next', remote: remote %>
</span>
